{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
<div class="container">
    
    <!-- test-->
    <!-- <div class="col-md-12">
        <div class="col-md-3 btn btn-warning">
            MAINA
        </div>
        <div class="col-md-9 btn btn-primary">
            MAINA
        </div>
    </div>
    -->
    <!-- menu on the left-->
    <div class="col-md-3 menu mtb20">
        <div class="col-md-13 col-md-offset-2 mb10">
            <img src="{% static "img/logo.png" %}" class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-13">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn btn-success centered glyphicon glyphicon-plus" role="button"
                      type="button" data-toggle="modal" data-target="#new_folder_modal"></div>
                <div class="btn btn-danger centered glyphicon glyphicon-trash" role="button" ></div>
            </div>
        </div>
        <div class="col-md-13 mt10 mb10">
            <ul class="nav nav-pills nav-stacked">
              
              {% if folders %}
              {% for folder in folders %}
                <li role="presentation" class="btn-block"><a href="#">{{folder.name}}</a></li>
              {% endfor %}
              {% endif %}
                <li role="presentation" class="btn-block active_on_click active_on_hover"><a href="#">Folder 2</a></li>
                <li role="presentation" class="btn-block active_on_click active_on_hover"><a href="#">Folder 3</a></li>
                <!-- Button trigger modal -->
                <li type="button" class="btn-block active_on_hover" data-toggle="modal" data-target="#myModal">
                  <a href="#">Modal</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- all the elements BUT the menu on the left-->
    <div class="col-md-9 pull-right">
        
        <!-- header-->
        <div class="col-md-12">
            <div class="pull-right btn-group mtb20 headerBorder" role="group" id="header">
              <button class="btn btn-primary active_on_click" role="button">History</button>
              <button class="btn btn-primary active_on_click" id="middle" role="button">Profile</button>
              <button class="btn btn-primary active_on_click" role="button">Log out</button>
            </div>
        </div>
      
      
        <!-- search bar with dropdown menu -->
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
              <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Medicine</a></li>
                      <li><a href="#">Treatment</a></li>
                      <li><a href="#">Conditions</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Users</a></li>
                    </ul>
                  </div><!-- /btn-group -->
              <input type="text" class="form-control" aria-label="..." placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        
        <div class="col-md-13">
            <div class="btn-group btn-group-justified mtb20" role="group">
                <div class="active_on_click btn btn-default " role="button" >All</div>
                <div class="active_on_click btn btn-default" role="button" >Healthfinder</div>
                <div class="active_on_click btn btn-default" role="button" >Medline+</div>
                <div class="active_on_click btn btn-default" role="button" >Bing</div>
            </div>
        </div>
        <!-- I tried using tables.. didnt work out well(text was selectable)
        <div class="list-group">
          <table href="#" class="list-group-item active_on_hover mtb20 table table-responsive">
            <tbody>
              <tr class="noborder">
                <td class="noborder">
                <h4 class="list-group-item-heading">Title</h4>
                </td>
              </tr>
              <tr>
                <td class="noborder">
                <p class="list-group-item-text">Summary</p>
                </td>
              </tr>
              <tr>
                <td class="noborder">
                <p class="list-group-item-text">Source: Bing</p>
                </td>
              </tr>
            </tbody>
          </table>
          
          <a class="list-group-item active_on_hover mtb20">
            <table href="#" class="table table-responsive">
              <tbody>
                <tr class="noborder">
                  <td class="noborder">
                  <h4 class="list-group-item-heading">Title</h4>
                  </td>
                </tr>
                <tr>
                  <td class="noborder">
                  <p class="list-group-item-text">Summary</p>
                  </td>
                </tr>
                <tr>
                  <td class="noborder">
                  <p class="list-group-item-text">Source: Medline+</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
          
          -->
          
          <a href="#" class="list-group-item active_on_click mtb20 table table-responsive">
                <h4 class="list-group-item-heading mtb15">Title</h4>
                <p class="list-group-item-text mtb10">Summary</p>
                <p class="list-group-item-text mtb10">Source: Bing</p>
          </a>
          
        </div>
        
    </div>
    
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    <!-- new folder modal -->
    <div class="modal fade" id="new_folder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new folder</h4>
              </div>
              <div class="modal-body">
                {% csrf_token %} 
                <input type="folder" class="form-control" name="new_folder_name" placeholder="Folder name">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="create" type="button" class="btn btn-success">Create</button>
              </div>
            </div>
          </div>
        </div>
        
    
    
</div>
<!--<script src="{% static "hello.js" %}"></script> -->
<!--<script src="{% static "js/headers.js" %}"></script>-->
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/buttons.js" %}"></script>
<script src="{% static "js/modal.js" %}"></script>
<script src="{% static "js/new_folder_modal.js" %}"></script>
{% endblock %}