{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

<link href="{% static "Sliders/jquery-ui.css" %}" rel="stylesheet">
<script src="{% static "Sliders/external/jquery/jquery.js" %}"></script>
<script src="{% static "Sliders/jquery-ui.js" %}"></script>
<script src="{% static "Sliders/sliders.js" %}"></script>

<div class="container">
    <!-- menu on the left-->
    <div class="col-md-3 menu mtb20">
        <div class="col-md-13 col-md-offset-2 mb10">
          <a href="/ehealth/dashboard/">
            <img src="{% static "img/logo.png" %}" class="img-responsive" alt="Responsive image">
          </a>
        </div>
        
        <div class="mtb10">
          <label for="r_score" class="col-md-8" style="font-family: serif;font-size: 17px;">Readibility score: </label>
          <input type="text" class="col-md-4" id="r_score" readonly style="border:0; color:#f6931f; font-weight:bold;font-size: 18px";>
        </div>
        <div id="slider1" class="col-md-12 mb20"></div>
        
                
        <div class="mtb10">
          <label for="s_score" class="col-md-8" style="font-family: serif;font-size: 17px;">Sensitivity score: </label>
          <input type="text" class="col-md-4" id="s_score" readonly style="border:0; color:#f6931f; font-weight:bold;font-size: 18px";>
        </div>
        <div id="slider2" class="col-md-12 mb20"></div>
        
        <div class="mtb10">
          <label for="ss_score" class="col-md-8" style="font-family: serif;font-size: 17px;">Sentiment score: </label>
          <input type="text" class="col-md-4" id="ss_score" readonly style="border:0; color:#f6931f; font-weight:bold;font-size: 18px";>
        </div>
        <div id="slider3" class="col-md-12 mb20"></div>
        
        <!--<div class="mtb10">-->
        <!--  <label for="results_from_search" class="col-md-8" style="font-family: serif;font-size: 17px;">Results from API: </label>-->
        <!--  <input type="text" class="col-md-4" id="results_from_search" readonly style="border:0; color:#f6931f; font-weight:bold;font-size: 18px";>-->
        <!--</div>-->
        <!--<div id="slider4" class="col-md-12 mb20"></div>-->
        
        <div class="col-md-13 row">
            <div class="btn-group btn-group-justified" role="group">
                <!--<div id=create_folder class="btn btn-success centered glyphicon glyphicon-plus" role="button"-->
                <!--      type="button" data-toggle="modal" data-target="#new_folder_modal"></div>-->
                <div id=create_folder class="btn btn-success centered glyphicon glyphicon-plus create_folder" role="button"
                      type="button"></div>
                <div id="delete_folder" class="btn btn-danger centered glyphicon glyphicon-trash" role="button" ></div>
            </div>
        </div>
        <div class="col-md-13 mt10 mb10 row">
            <ul class="nav nav-pills nav-stacked folder_list">
              
              {% if folders %}
              {% for folder in folders %}
                <li role="presentation" class="btn-block folder"><a class="nofocus" href="#!" >{{folder.name}}</a></li>
              {% endfor %}
              {% endif %}
            </ul>
        </div>
    </div>
    <!-- all the elements BUT the menu on the left-->
    <div class="col-md-9 pull-right">
        <!-- header-->
        <div class="col-md-12">
            <div class="pull-right btn-group mtb20 headerBorder" role="group" id="header">
                <!--<button class="btn btn-primary " role="button">History</button>-->
                <a href="/ehealth/profile/{{user}}/" class="btn btn-primary">Profile</a>
                <a href="/ehealth/logout/" class="btn btn-primary">Log out</a>
              <!--<button class="btn btn-primary " id="middle" role="button">Profile</button> -->
              <!--<button class="btn btn-primary " role="button">Log out</button> -->
            </div>
        </div>
      
      
        <!-- search bar with dropdown menu -->
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
              <div class="input-group">
                {% csrf_token %}
                <div class="input-group-btn">
                  <button id="category" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All </button>
                  <ul class="dropdown-menu">
                    <li><a class="category_option nofocus" href="#">All</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="category_option nofocus" href="#">Medicine</a></li>
                    <li><a class="category_option nofocus" href="#">Treatment</a></li>
                    <li><a class="category_option nofocus" href="#">Conditions</a></li>
                    <li><a class="category_option" href="#">Users</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" id="search_bar" name="search_bar" class="form-control" aria-label="..." placeholder="Search for...">
                <span class="input-group-btn">
                  <button id="search_button" class="btn btn-default" type="button">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div>
        
        <div class="col-md-13">
            <div class="btn-group btn-group-justified mtb20" role="group">
                <div id="all_filter" class="btn btn-default active_on_click" role="button" >All</div>
                <div id="healthfinder_filter" class="active_on_click btn btn-default" role="button" >Healthfinder</div>
                <div id="medlineplus_filter" class="active_on_click btn btn-default" role="button" >MedlinePlus</div>
                <div id="bing_filter" class="active_on_click btn btn-default" role="button" >Bing</div>
            </div>
        </div>
        <!-- I tried using tables.. didnt work out well(text was selectable)
        <div class="list-group">
          <table href="#" class="list-group-item active_on_hover mtb20 table table-responsive">
            <tbody>
              <tr class="noborder">
                <td class="noborder">
                <h4 class="list-group-item-heading">Title</h4>
                </td>
              </tr>
              <tr>
                <td class="noborder">
                <p class="list-group-item-text">Summary</p>
                </td>
              </tr>
              <tr>
                <td class="noborder">
                <p class="list-group-item-text">Source: Bing</p>
                </td>
              </tr>
            </tbody>
          </table>
          
          <a class="list-group-item active_on_hover mtb20">
            <table href="#" class="table table-responsive">
              <tbody>
                <tr class="noborder">
                  <td class="noborder">
                  <h4 class="list-group-item-heading">Title</h4>
                  </td>
                </tr>
                <tr>
                  <td class="noborder">
                  <p class="list-group-item-text">Summary</p>
                  </td>
                </tr>
                <tr>
                  <td class="noborder">
                  <p class="list-group-item-text">Source: MedlinePlus</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
          -->
          <div id = "search_results" class = "col-md-12">
            {% if pages %}
            {% for page in pages %}
              <div class="row {{page.source}} ">
                <div class='col-md-3 mtb20 pull-right'>
                  <button type='button' class='btn btn-block btn-success add_to_folder_button'>Add to folder</button>
                  <button type='button' class='btn btn-block btn-default dropdown-toggle folder_choice_button'
                    data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Choose folder</button>
                  <ul class='dropdown-menu folder_options btn-block '>
                    {% if folders %}
                    {% for folder in folders %}
                      <li class='folder_choice'><a href='#!'> {{folder.name}} </a></li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
                <div class='col-md-9 mtb20 pull-left'>
                  <a href="{{page.url}}" target='_blank' class="list-group-item table table-responsive ">
                  <h4 class="list-group-item-heading mtb15">{{ page.title }}</h4>
                  <p class="list-group-item-text mtb10">{{ page.summary }}</p>
                  <p class="list-group-item-text mtb10">Source: {{ page.source }}</p>
                  </a>
                </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        
    </div>
    
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" id="modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body" id="modal_body">
              </div>
              <div class="modal-footer">
                <button id="modal_close_button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <!-- new folder modal -->
    <!--<div class="modal fade" id="new_folder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--      <div class="modal-dialog" role="document">-->
    <!--        <div class="modal-content">-->
    <!--          <div class="modal-header">-->
    <!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--            <h4 class="modal-title" id="myModalLabel">Create new folder</h4>-->
    <!--          </div>-->
    <!--          <div class="modal-body">-->
    <!--            {% csrf_token %} -->
    <!--            <input type="folder" class="form-control" id="new_folder_name" name="new_folder_name" placeholder="Folder name">-->
    <!--          </div>-->
    <!--          <div class="modal-footer">-->
    <!--            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
    <!--            <button id="create" type="button" class="btn btn-success">Create</button>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
        
    
    
</div>
<!--<script src="{% static "hello.js" %}"></script> -->
<!--<script src="{% static "js/headers.js" %}"></script>-->
<script src="{% static "js/modal.js" %}"></script>
<script src="{% static "js/buttons.js" %}"></script>
<script src="{% static "js/empty_modal.js" %}"></script>
<script src="{% static "js/delete_folder.js" %}"></script>
<script src="{% static "js/new_folder_modal.js" %}"></script>
<script src="{% static "js/show_folder_content.js" %}"></script>
<script src="{% static "js/create_folder.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>

{% endblock %}