<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>This is a secure website. Please keep it that way...</title>



    <title></title>
</head>


<body>
    {% if ViewedUser %}
        {% for element in ViewedUser %}<br />
            {{ element }}<br />

        {% endfor %}
    {% endif %}


    {% if folders %}
        {% for folder in folders %}
            {{ folder.0 }}<br />
            {% for page in folder.1 %}
                {{ page }}<br />
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if ownProfile == True %}
        Browsing own profile
    {% else %}
        Not Browsing own profile {{ ownProfile }}
    {% endif %}
<br />

 {% if message %}
     {{ message }}
 {% endif %}
 <form id="update_form" method="post" action="/ehealth/updateProfile/">
            {%  csrf_token %}
            {% for hidden in update_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in update_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}
            <input type="submit" name="submit" value="Change Details" />
            </form>
</body>
</html>