{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-md-offset-4 mtb40">
            <img src="{% static "img/logo.png" %}" class="img-responsive" alt="Logo">
        </div>
        <h1>Log in</h1>
        <form action="/ehealth/" method="post">
          {% csrf_token %}
          {{ login_form | bootstrap}}
          <input class="btn btn-warning" type="submit" value="Log in">
        </form>
      </div>

      <div class="col-sm-6 mtb20">
        <h1>Register</h1>
        <form action="/ehealth/" method="post">
          {% csrf_token %}
          {{ register_form | bootstrap }}
          <input class="btn btn-warning" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
