.headerBorder {
    border-radius: 10px;
}
.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mtb15 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}


.mrl10 {
    margin-right: 5px;
    margin-left: 5px;
}

.br {
    border-right: 3px solid;
}
.nobt {
    border-top: none !important;
}

.noborder {
    border: none !important;
}

.nofocus, .btn:focus {
    outline: none !important;
}